nav {
    display: flex;
    background-color: #a0c4ff;
    padding: 20px;
    border-bottom: 3px solid black;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 100ms;
}

nav a:hover {
    color: black;
    font-weight: bold;
}
body {
    margin: 0px;
    overflow-x: hidden;
}

.Mirai {
    width: 30px;
    
}
.Logoo {
    
    padding-right: 30px;
    padding-left:30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h1 {
    margin-left: 45px;
    padding: 0 2px 20px 0;
    font-family: 'Permanent Marker', cursive;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    font-size: 15px;
}
.Bestel {
    color:white;
    background-color: black;
    transition: 500ms;
}
.Bestel:hover{
    border-radius: 5px;
}
.intro {
    display: flex;
    align-content: center;
    align-items: stretch;
    padding: 60px;
    gap: 50px;
    border-bottom: 3px solid black;
    width: 100%;
    background-image:url(/images/vlietland.jpg)
}

.game-info {
 
    padding: 0 40px 20px 220px;
    
    

}
#robot-omschrijving {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
h3.product-omschrijving {
    margin: -10px 0 20px;
    padding:0;
    white-space: pre-line;
    color: white;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    
}
.cover {
    width: 250px;
    border: 2px solid black;
}

.extra-info {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;

}
.punten {
    background-color: gainsboro;
    padding: 0 20px;
    
}
.extra-producten {
    background-color: gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.extra-product {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.extra-info img {
    max-width: 100%;
    height: auto;
    
}
.Scarlet {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
.extra-text {
    text-align: center;
    background-color: gainsboro;
    padding: 20px;
    margin-bottom: 0;
}
.extra-product-omschrijving {
    margin-top: 10px;
}
.extra-product img {
    max-width: 100%;
    height:auto;
    border: 2px solid black;
}
footer {
    background-color: #a0c4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: 3px solid black;
    width: 100%;
    height: 15vh;
}
h4 {
    color: white;
    
}

.blog-intro {
    padding: 20px;
    margin-left: 25px;
    margin-right: 20px;
    font-size: 1.0625rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
#Geschiedenis {
    border-top: 3px solid black;
    padding: 20px;
    padding-left: 40px;

}
#blog-foot {
    background-color: #a0c4ff;
    border-top: 3px solid black;
    height: 10vh;
}
.rofo {
    width: 15vw;
    height: 80%;
    border: 2px solid black;
    transition: all 1s ease-in-out;
}
.rofo:hover {
    transform:scale(1.0625);
}
.foto {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.vooruit {
    height: 80vh;
}
.test {
    color: black;
}
.kenmerken {
    padding-right: 100px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bolder;
}
.lijst {
margin-left: -20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.9rem;
}
.lijst li {
    margin-bottom: 10px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2rem;
    font-weight: bold;
}
.endtro {
    margin-top: 60px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2rem;
    font-weight: bolder;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.lijst b{
    color: black;
    text-shadow: white 0.1em 0.1em 0.2em;
    font-weight: bold;
}

.container {
    border: 2px solid black;
    margin: 0 10px;
    border-radius: 5px;
    
}
.contaier img {
    width: 15vw;
    height: auto;
    margin-bottom: 20px;
    
}
.container p {
    text-align: center;
    margin-top: 150px;
}
.bijtext {
    font-size: 0.70rem;
    text-align: center;
}
.tag {
    width: 10vw;
}